<link rel="stylesheet" href="/css/footer.css">  
<footer>
    <div id="container">
      <p>@ Codeial.All Rights Reserved</p>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/user/profile">Profile</a></li>
      </ul>
    </div>
</footer>