footer{
    background-color: grey;
    color: white;
    #container{
        display: flex;
        width: 40%;
        justify-content: space-around;
        ul{
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}